#VS code stuff
.vscode/

# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__/
Refactor/__pycache__/

#sphinx stuff
docs/_build/
docs/build/

#logs
*.log
logs/

#output files
*.gv
*.gv.pdf
*.gv.svg
*.gv.png
outputFiles/
BlackBlox_output/
demo_output/

#others
~$*
scratch.xlsx
scratch.py
