#VS code stuff
.vscode/
scratch.py

# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__/
Refactor/__pycache__/

#sphinx stuff
docs/_build/

#logs
*.log
logs/

#output files
*.gv
*gv.pdf
outputFiles/
BlackBlox_output/


#others
~$*
scratch.xlsx
BlackBlox_output/Cement Industry_evolve_1990_2010_2019-02-12_2028/end_2010/pfd/otherCementFactory/power.gv.svg
