# Ignore all files and folders under here, because they are all generated and should not be tracked...
*

# ... except for this one and some other important ones.
!.gitignore
!footnotehyper-sphinx.sty
!latexmkjarc
!LatinRules.xdy
!LICRcyr2utf8.xdy
!LICRlatin2utf8.xdy
!python.ist
!sphinx.sty
!sphinx.xdy
!sphinxhowto.cls
!sphinxmanual.cls
!sphinxmulticell.sty